<h2 mat-dialog-title>
  <mat-icon>info</mat-icon>
  <span>Solicitud de documentos AEAT</span>
</h2>
<div mat-dialog-content>
  <form>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label for="tipoModelo">Tipo de modelo</mat-label>
        <mat-select formControlName="tipoModelo" id="tipoModelo">
          <mat-option value="A">A</mat-option>
          <mat-option value="B">B</mat-option>
          <mat-option value="C">C</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <br>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label for="codigoCSV">Código CSV</mat-label>
        <input matInput formControlName="codigoCSV" id="codigoCSV" required>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancelar</button>
  <button mat-button color="primary" (click)="enviar()">Aceptar</button>
</div>
